<div class="row top-buffer" data-matrix="<%= matrix_for %>">
  <%= label_tag(matrix_for, "#{matrix_for.capitalize} =") %>
  <%= select_tag(:"#{matrix_for}_row_matrix",options_for_select((1..10).to_a), class: "rowMatrix rounded-left") %> 
  <%= select_tag(:"#{matrix_for}_column_matrix",options_for_select((1..10).to_a), class: "columnMatrix rounded-left") %>
</div>